body{
    font-size:16px;
}

.center{
    position:absolute;
    left:50%;
    top:50%;
    width: 100%;
    max-width:1080px;
    padding:20px;
    transform:translate(-50%,-50%);
}

h1{
    margin-top:0;
}

.item-wrap{
    padding:20px;
    background-color: #eee;
    border:1px solid #eee;
    margin-bottom:10px;
    font-size:24px;
    border-radius: 6px;
}

.item{
    background-color: #fff;
    padding:20px 10px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 10px;
}

.item-parent{
    width:50%;
}

.percent-wrap .item{
    width:50%;
}

.item-em{
    width:20em;
}

.item-rem{
    width:20rem;
}

.item-vw{
    width:50vw;
}

.item-vh{
    width:20vh;
}