h1{
    background-color: deeppink;
    color: white;
    display: inline-block;
    padding:5px;
    font-size:3rem;
    margin:200px;
    /*x축으로 ()만큼 늘리기 */
    transform: scaleX(2);
    /*y축으로 ()만큼 늘리기 */
    transform: scaleY(2);
    /*x크기 y크기 동시 설정 */
    transform: scaleX(1) scaleY(1);
    /*x크기 y크기 간편 동시 설정 */
    transform: scale(0.5,0.5);
}

h1:hover{
    transform: scale(1);
    transform-origin: left top;
    transition: all 3s;
}

/*https  */