.container{
    display:flex;
    flex-direction: column;
}

header{
    border-bottom: 1px solid gray;
    padding-left:20px;
    border:1px solid gray;
}

footer{
    border:1px solid gray;
    text-align: center;
}

.content{
    display:flex;
    border:1px solid gray;
}

.content nav{
    border-right: solid gray;
}

.content aside{
    border-left:1px solid gray;
}

nav, aside{
    flex-basis: 150px;
    flex-shrink: 0;
}
