/*
flex : row 가로 column: 세로
grid : row 세로 column: 가로
*/

.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 150px;
    grid-gap:10px;
    padding: 10px;
}

#item2{
    grid-column: 2/4;
    grid-row: 1/3;
}